<main class="home">
  <h1 >Bancos</h1>
  <figure class="home__figure">
    <img class="home__img" src="assets/images/fachada-banco.png" alt="Fachadas coloridas de bancos brasileiros">
    <figcaption class="home__figcaption">Imagem ilustrativa de fachadas bancárias com cores variadas.</figcaption>
  </figure>
  <p>
    Os bancos brasileiros desempenham um papel fundamental na economia do país, sendo responsáveis por intermediar recursos financeiros, oferecer crédito, promover investimentos e facilitar transações para pessoas físicas e jurídicas. O sistema bancário do Brasil é composto por instituições públicas e privadas, com destaque para grandes bancos como Banco do Brasil, Caixa Econômica Federal, Bradesco, Itaú e Santander. Nos últimos anos, o setor passou por transformações significativas, impulsionadas pela digitalização e pelo surgimento dos bancos digitais, como Nubank e C6 Bank, que tornaram os serviços bancários mais acessíveis, ágeis e competitivos.
  </p>
</main>